---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_tenant_argocd_app_name }}
  namespace: {{ ocp4_workload_tenant_argocd_app_namespace }}
spec:
  project: {{ ocp4_workload_tenant_argocd_app_project_name }}
  source:
    repoURL: {{ ocp4_workload_tenant_argocd_app_gitops_repo_url }}
    targetRevision: {{ ocp4_workload_tenant_argocd_app_gitops_repo_revision }}
    path: {{ ocp4_workload_tenant_argocd_app_gitops_repo_path }}
    helm:
      values: |
        {{ _ocp4_workload_tenant_argocd_app_all_values
         | to_nice_yaml
         | indent(width=8, first=False)
        }}
  destination:
    namespace: {{ ocp4_workload_tenant_argocd_app_destination_namespace }}
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
