---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ ocp4_workload_tenant_openshift_gitops_user_project_prefix }}-{{ ocp4_workload_tenant_openshift_gitops_user }}
  namespace: {{ ocp4_workload_tenant_openshift_gitops_namespace }}
spec:
  description: "Project for {{ ocp4_workload_tenant_openshift_gitops_user }}"
  destinations:
  - namespace: "{{ ocp4_workload_tenant_openshift_gitops_user }}-*"
    server: https://kubernetes.default.svc
  sourceRepos:
  - "*"
  clusterResourceWhitelist:
{% for resource in ocp4_workload_tenant_openshift_gitops_user_cluster_resource_whitelist %}
  - group: "{{ resource.group }}"
    kind: {{ resource.kind }}
{% endfor %}
  roles:
  - name: user-role
    description: "Role for {{ ocp4_workload_tenant_openshift_gitops_user }}"
    policies:
    - p, proj:{{ ocp4_workload_tenant_openshift_gitops_user_project_prefix }}-{{ ocp4_workload_tenant_openshift_gitops_user }}:user-role, applications, *, {{ ocp4_workload_tenant_openshift_gitops_user_project_prefix }}-{{ ocp4_workload_tenant_openshift_gitops_user }}/*, allow
    groups:
    - "{{ ocp4_workload_tenant_openshift_gitops_user }}"
