---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ ocp4_workload_tenant_argocd_app_project_name }}
  namespace: {{ ocp4_workload_tenant_argocd_app_namespace }}
spec:
  description: "Project for {{ ocp4_workload_tenant_argocd_app_user }}"
  destinations:
  - namespace: "{{ ocp4_workload_tenant_argocd_app_user }}-*"
    server: https://kubernetes.default.svc
  sourceRepos:
  - "*"
  sourceNamespaces:
  - "{{ ocp4_workload_tenant_argocd_app_user }}-*"
{% if ocp4_workload_tenant_argocd_app_user_cluster_resource_whitelist %}
  clusterResourceWhitelist:
{% for resource in ocp4_workload_tenant_argocd_app_user_cluster_resource_whitelist %}
  - group: "{{ resource.group }}"
    kind: {{ resource.kind }}
{% endfor %}
{% endif %}
  roles:
  - name: user-role
    description: "Role for {{ ocp4_workload_tenant_argocd_app_user }}"
    policies:
    - p, {{ ocp4_workload_tenant_argocd_app_user }}, applications, *, {{ ocp4_workload_tenant_argocd_app_project_name }}/*/*, allow
    - p, {{ ocp4_workload_tenant_argocd_app_user }}, *, get, {{ ocp4_workload_tenant_argocd_app_project_name }}/*/*, allow
